.slotContainer select {
    width: 6rem;
    display: block;
    border: none;
    background-color: initial;
}

.slotContainer * {
    color: rgb(216, 110, 110);
    font-family: 'monospace';
    font-weight: bold;
}

.header {
    color: white;
    display: block;
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 1rem;
}
