.slotContainer select {
    width: 6rem;
    display: block;
    border: none;
    background-color: initial;
}

.slotContainer * {
    color: rgb(216, 110, 110);
    font-family: 'monospace';
    font-weight: bold;
}
